*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.play-ship{
    width: 40px;
    height: 40px;
    background-image: url('assets/nave_jog.gif');
    position: absolute;
}

.screen-message{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
}

#planet-tracker{
    border: 2px solid #000;
    width: 300px;
    height: 20px;
    background-color: #fff;
    
}

#planet-bar{
    width: 100px;
    height: 20px;
    background-color: #55f;
    
}

#panel{
    margin-top: 10px;
    padding: 10px;
}
#panel > .planet-text{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.player-shot{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}

.bomb{
    width: 24px;
    height: 40px;
    background-image: url('assets/bomba.gif');
    position: absolute;
}

.explosion-ground{
    width: 55px;
    height: 57px;
    position: absolute;

}
.explosion-air{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 2;
}
.main{
    background-image: url('assets/background.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}